<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/login']"><i class="fas fa-flag-checkered"></i></a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
        </li>
        <li class="nav-item">
          <a *ngIf="email != ''" class="nav-link" [routerLink]="['/dashboard']" tabindex="-1" 
            >Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <h6 class="mr-5" *ngIf="firstName != '' ">Hi, {{firstName}}!          </h6>
      <button (click)="logout()" *ngIf="firstName != '' " class="btn btn-outline-primary" type="button">
        Logout
      </button>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>