<!-- <p>dashboard works!</p>
<h1>{{user.Email}}</h1>
<h1>{{user.FirstName}}</h1>
<h1>{{user.LastName}}</h1>
<h1>{{user.UserId}}</h1>

<h3>List of Runs</h3>
<hr>
<ul>
    <li *ngFor="let run of runList">{{run.name}</li>
</ul>

<form [formGroup]="formData" (submit)="CreateRun()">

    <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="text" id="runName" class="form-control"
            formControlName="runName" name="runName" required />
        <label mdbLabel class="form-label" for="runName">Name</label>
        <mdb-error *ngIf="
        runName?.invalid && (runName?.dirty || runName?.touched)
          ">A run name is required</mdb-error>
        <mdb-success *ngIf="
        runName?.valid && (runName?.dirty || runName?.touched)
          ">Looks good!</mdb-success>
    </mdb-form-control>

    <mdb-form-control class="mb-4">
      <input mdbValidate mdbInput type="number" id="runLength" class="form-control"
          formControlName="runLength" name="runLength" required />
      <label mdbLabel class="form-label" for="runLength">Run Length</label>
      <mdb-error *ngIf="
      runLength?.invalid && (runLength?.dirty || runLength?.touched)
        ">A run length is required</mdb-error>
      <mdb-success *ngIf="
      runLength?.valid && (runLength?.dirty || runLength?.touched)
        ">Looks good!</mdb-success>
  </mdb-form-control>
    <button type="submit" class="btn btn-primary btn-block mb-4" value="send" [disabled]="formData.invalid">Log Run</button>
</form> -->

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col text-center">
      <h2>Hi, {{user.FirstName}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h3>Total Runs Logged: {{runList?.length}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a
      class="btn btn-primary mx-auto"
      (click)="basicCollapse.toggle()"   
      role="button"
      [attr.aria-expanded]="!basicCollapse.collapsed"
      aria-controls="collapseExample"   
      >
        Add a Run
      </a>
      <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
        <form [formGroup]="formData" (submit)="CreateRun()">

          <mdb-form-control class="mb-4">
              <input mdbValidate mdbInput type="text" id="runName" class="form-control"
                  formControlName="runName" name="runName" required />
              <label mdbLabel class="form-label" for="runName">Name</label>
              <mdb-error *ngIf="
              runName?.invalid && (runName?.dirty || runName?.touched)
                ">A run name is required</mdb-error>
              <mdb-success *ngIf="
              runName?.valid && (runName?.dirty || runName?.touched)
                ">Looks good!</mdb-success>
          </mdb-form-control>
      
          <mdb-form-control class="mb-4">
            <input mdbValidate mdbInput type="number" id="runLength" class="form-control"
                formControlName="runLength" name="runLength" required />
            <label mdbLabel class="form-label" for="runLength">Run Length</label>
            <mdb-error *ngIf="
            runLength?.invalid && (runLength?.dirty || runLength?.touched)
              ">A run length is required</mdb-error>
            <mdb-success *ngIf="
            runLength?.valid && (runLength?.dirty || runLength?.touched)
              ">Looks good!</mdb-success>
        </mdb-form-control>
          <button type="submit" class="btn btn-primary btn-block mb-4" value="send" [disabled]="formData.invalid" (click)="basicCollapse.toggle()">Log Run</button>
      </form>        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h4>Logged Runs</h4>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Date Logged</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let run of runList">
            <td>{{run.name}}</td>
            <td>{{run.length}}</td>
            <td>{{run.date | date}}</td>
          </tr>
        </tbody>
      </table>

      <!--THIS WOULD LOOK WAY BETTER IF YOU ADDED PAGINATION HERE SOMEHOW-->
    </div>
  </div>

  
</div>






